---
import { GlobeJourney } from '@/components/GlobeJourney';
---

<section
  id="journey"
  class="relative bg-background"
  aria-label="Interactive wedding journey from Paris to Israel"
>
  <GlobeJourney client:visible />
</section>
